:root {
    --bg: #af0000;
    --nav-bg: #c50000;
    --nav-hover: #e5ff00;

    --border-grey: #929292;
    --light-grey: #d1d1d1;
    --almost-white: #f7f7f7;
}

body {
	font-family:"Arial";
	margin:0;
    background-color: var(--bg);
}	
.input_year {
    width:5em;
}
.input_month, .input_day {
    width:3em;
}
h3 {
    border-bottom:1px solid var(--border-grey);
}
.code {
    border: 1px solid var(--light-grey);
    padding:5px;
    background-color:var(--almost-white);
}
.navigator {
    position: fixed;
    top: 0;
	width:100%;
    background-color: var(--nav-bg);
    display: flex;
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
    display: flex;
}
.navigator .main {
    font-weight: bold;
}

.navigator a {
    display:block;
    padding:14px 15px;
    text-decoration:none;
    color:white;
    font-size:16px;
}
.navigator a:hover {
    color: var(--nav-hover)
}
/* .active {
    background-color:#fc0000;
} */
table, th, td {
    border:1px solid;
    border-collapse:collapse;
    padding:5px;
}
.column {
    flex: 30%;
    margin: 5px;
    padding: 10px;
    background-color: white;
}
@media screen and (max-width:600px) {
  .column {
    flex: 100%;
  }
}
.row {
    display:flex;
    flex-flow:wrap;
}

.footer {
    margin:5px;
    padding:10px;
    background-color:white;
    display: flex;
    justify-content: space-between;
}