:root {
    --bg: #af0000;
    --nav-bg: #c50000;
    --footer-border: #920000;
    --nav-hover: #e5ff00;

    --border-grey: #929292;
    --light-grey: #d1d1d1;
    --almost-white: #f7f7f7;
}

body {
	font-family:"Arial";
	margin: 0px;
    background-color: var(--bg);
    font-size: 1em;
}

main {
    max-width: 1000px;
    margin: 0px auto;
    margin-top: 60px;
    padding: 0px 10px;
}

.contentBox {
    padding: 20px 30px;
    margin: 10px 0px;
    background-color: white;
}

footer {
    padding: 15px;
    color: white;
    display: flex;
    justify-content: space-around;
    border-top: 2px solid var(--footer-border);
}

.input_year {
    width:5em;
}
.input_month, .input_day {
    width:3em;
}
h3 {
    border-bottom:1px solid var(--border-grey);
}
.code {
    border: 1px solid var(--light-grey);
    padding:5px;
    background-color:var(--almost-white);
}

nav {
    position: fixed;
    top: 0;
	width:100%;
    background-color: var(--nav-bg);
    display: flex;
}

nav ul {
    display: flex;
    margin: 0;
    padding: 0; 
    list-style-type: none;
    overflow: hidden;
}

nav a {
    display: block;
    padding: 14px 15px;
    text-decoration: none;
    color:white;
}
nav a:hover {
    color: var(--nav-hover)
}

@media (max-width: 600px) {
    nav ul a {
      display: none;
    }
  }

/* .active {
    background-color:#fc0000;
} */
table, th, td {
    border:1px solid;
    border-collapse:collapse;
    padding:5px;
}
